<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <title>UPLB ICS PeakOne</title>
</head>
<body class="min-h-screen flex flex-col">
  {% include 'components/header.html' %}
  <main id="main" class="p-8 lg:px-48">
    <form 
      class="flex"
      hx-get="/search"
      hx-target="#pdfs"
    >
      <input class="px-4 py-2 border border-black flex-grow" type="text" name="s" placeholder="Maximum of 5 words" required />
      <input class="px-4 py-2 border border-black cursor-pointer" type="submit" value="Search" />
    </form>
    <div id="pdfs">
      {% include 'pdfs.html' %}
    </div>
  </main>
  {% include 'components/footer.html' %}
</body>
</html>